// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
//@import blueprint/modules/scaffolding.sass

// Generates css equivalent to the blueprint css but with your configuration applied
+blueprint
+blueprint-typography

!navigation_bar_and_content_margin = 20px

body
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction

  #container
    +container
    font-size: 1.2em

  #header, #footer
    +column(!blueprint_grid_columns)

  #header
    background-image: url('../images/header.jpg')
    height: 112px
    text-indent: 9999em

  #navigation-bar
    !sidebar_columns = floor(!blueprint_grid_columns / 4)
    +column(!sidebar_columns)
    background-color: #e1e2e3
    margin-top = !navigation_bar_and_content_margin
    padding: 20px 0px

    ul li
      list-style-type: none

  #content
    !content_columns = ceil( 3 * !blueprint_grid_columns / 4 )
    +column(!content_columns, true)
    margin-top = !navigation_bar_and_content_margin

  #footer
    background-color: #ddd
    padding: 10px
    margin-top: 20px
    text-align: center
